@import 'normalize.css';
:root {
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5rem;
}

button,
input {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

//font-embedded-
